/* Add your custom styles here if needed */

.header-section {
    background-color: rgb(1, 14, 23);
    padding: 0px 0;
  }
  
  .company-logo img {
    max-width: 670px; /* Adjust as needed */
    height: auto;
  }
  
  .company-info {
    display: flex;
    align-items: center;
  }
  
  .company-name h1 {
    margin-left: 15px;
    font-size: 24px;
  }
  
  .header-icons a {
    margin-left: 10px;
    color: #f4f0f0;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .company-logo img {
      max-width: 380px; /* Adjust as needed */
    }
  }

  #navcolor{
    background-color:rgb(210, 105, 19) ;
    
  }
  #container1{
    /* background-color: azure; */
    background-image: url('bg3.jpg');
    width:100%;
    height:auto;
  }
  /* Container for the text content */
  #content-container {
    float: left;
    max-width: 100%; 
    padding: 20px;
    border-radius: 10px;
    }
  
  /* Style for the paragraph text */
  #content-container p {
    
    text-align: center;
    font-size: 1.5em;
    font-family: 'Nunito', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: white; /* Adjust text color */
  }
  #content-container h3 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Libre Franklin', sans-serif;
    color: rgb(1, 14, 23) ; /* Adjust text color */
  }
  
  .gif-image {
    border-radius: 10px;
    float: right;
    max-width: 100%; /* Ensure the GIF is responsive */
    height: auto;
  }
  @media screen and (max-width: 768px) {
  
    #content-container p {
      font-size: 1.2em; /* Adjust font size for smaller screens */
      text-align: center;
    }
    #content-container h3{
      font-size:1.5em ;
      text-align: center;
    }
    .gif-image{
      max-width: 80%;
      align-items: center;
    }
  }
  